/**
 * @name NewJeans Hanni
 * @author nthlikeyou
 * @version 1.0.0
 * @description NewJeans Bunnies
 * @source https://github.com/DiscordStyles/ForstedGlass
*/

@import url('https://fonts.googleapis.com/css2?family=Fasthand:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://64.media.tumblr.com/8cd66cc3a6899569e00e1f97f19a2283/24d4764c84ad722e-33/s540x810/3c086cd1976b10ced6c548b56a85b605aab0fb39.gif');
  --background-image-blur: 1px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://gifdb.com/images/high/anime-student-back-ride-anime-aesthetic-unw5vir83sb6x7ll.gif');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://gifdb.com/images/high/anime-student-back-ride-anime-aesthetic-unw5vir83sb6x7ll.gif');
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://media1.tenor.com/m/vlAWIXAXuNUAAAAC/newjeans-omg.gif');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0;
  --left-brightness: 0;
  --middle-brightness: 0;
  --right-brightness: 0;
  --overlay-brightness: 0;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Fasthand;
  --window-padding: 0px;
  --window-roundness: 34px;
  --update-notice-1: none;
}
